img {
    width:100px;
    height:100px;
}

h3 {
    margin: 15px;
}

.card {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin: 30px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    /* margin: 10px; */
}