#mainDiv {
    background-color: #af52bf;
}

.card{
    width: 350px;
    display: inline-block;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid #6d1b7b;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
    background-color: white;

    }
    
    img{
      border-radius: 50%;
      width: 120px;
      margin: 10px;
    }
    
    p{
      margin: 10px;
      font-family: segoe ui;
      line-height: 1.4em;
      font-size: 1.2em;
    }
    
    #mainBox{
    display: -webkit-inline-flex;
        box-sizing: border-box;
        justify-content: center;
        flex-wrap: wrap;
    }

    #addButton {
        width: 80px;
        height:25px;
        color: white;
        background-color: #888;
        font-size: 13px;
        border-radius: 10px;
    }

    #nextButton {
        width: 150px;
        height:75px;
        color: white;
        background-color: grey;
        font-size: 20px;
        border-radius: 15px;
        align-content: center;
    }